<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>.:: Restaurant Vote ::.</title>

  <!-- Adicione -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnpub.tokiomarine.com.br/portal_static/publico/padrao/4.1.0/font-awesome/css/font-awesome.min.css">


  <style>
    .container-fluid {
      max-width: 1200px;
    }

    .card {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }

    [class*="row"] {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    [class*="col-"] {
      background: #fff;
      padding-top: .75rem;
      padding-bottom: .75rem;
      width: 100%;
    }
  </style>
</head>

<body>
  <noscript>
    <strong>We're sorry but restaurant-vote doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div class="container-fluid">
    <div id="app"></div>
  </div>
  <!-- built files will be auto injected -->

  <!-- Adicione -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>