<template>
  <div class="cadastro">
    <b-form method="post" v-on:submit.prevent="salvar">
        <b-alert :show="error != ''" variant="danger" dismissible @dismissed="error == ''">{{ error }}</b-alert>
        <b-form-group id="grupoName" label="Nome" label-for="nome">
            <b-form-input type="text" v-model="document.nome" id="nome" placeholder="Informe o nome do restaurante"/>
        </b-form-group>
        <b-form-group label="Endereço" label-for="endereco">
            <b-form-input type="text" id="endereco" v-model="document.endereco" placeholder="Informe o endereço do restaurante"/>
        </b-form-group>
        <b-form-group label="Tipo de Refeição" label-for="tipoRefeicao">
            <b-form-input type="text" id="tipoRefeicao" v-model="document.tipoRefeicao" placeholder="Informe o tipo de refeição, ex: quilo, pratos, variados"/>
        </b-form-group>
        <b-form-group label="Custo" label-for="custo">
            <b-form-input type="range" class="custom-range" id="custo" v-model.number="document.custo" value="2" min="1" max="5" @change="mostraCusto" list="valores"/>
            <datalist id="valores">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </datalist>
            <div id="vlCusto"><b>{{descricaoCusto}}</b></div>
        </b-form-group>
        <b-button type="submit" variant="primary">Cadastrar</b-button>
    </b-form>
  </div>
</template>

<script>
import restaurantResource from "@/resources/restaurantResource";

export default {
  data() {
    return {
      document: {},
      error: "",
      descricaoCusto: ""
    };
  },
  methods: {
    mostraCusto() {
      if (this.document.custo) {
        switch (this.document.custo) {
          case 1:
            this.descricaoCusto = "MUITO BARATO";
            break;
          case 2:
            this.descricaoCusto = "BARATO";
            break;
          case 3:
            this.descricaoCusto = "MÉDIO";
            break;
          case 4:
            this.descricaoCusto = "CARO";
            break;
          case 5:
            this.descricaoCusto = "MUITO CARO";
            break;
          default:
        }
      }
    },
    salvar() {
      if (this.validar()) {
        restaurantResource.geral
          .save(JSON.stringify(this.document))
          .then(response => {
            if (response.bodyText == "SUCESSO") document.location = "/";
            else this.error = response.bodyText;
          });
      }
    },
    validar() {
      if (!this.document.nome) {
        this.error = "Preencha o nome do restaurante";
        return false;
      }

      if (!this.document.endereco) {
        this.error = "Preencha o endereço do restaurante";
        return false;
      }
      if (!this.document.tipoRefeicao) {
        this.error = "Preencha o tipo de refeição oferecida";
        return false;
      }

      if (!this.document.custo) {
        this.error = "Defina o custo do restaurante";
        return false;
      }

      return true;
    }
  }
};
</script>
