<template>
  <div class="home">    
    <RestaurantComp/>
  </div>
</template>

<script>
import RestaurantComp from "@/components/RestaurantsComp.vue";

export default {
  name: "home",
  components: {
    RestaurantComp
  }
};
</script>
