<template>
    <div id="resultadoVotacao">
        <VoteResultComp/>
    </div>
</template>
<script>
import VoteResultComp from "@/components/VoteResultComp.vue";
export default {
  name: "resultadoVotar",
  components: {
    VoteResultComp
  }
};
</script>