<template>
    <div id="votacao">
        <VoteComp/>
    </div>
</template>
<script>
import VoteComp from "@/components/VoteComp.vue";
export default {
  name: "votar",
  components: {
    VoteComp
  }
};
</script>