<template>    
    <div class="row">        
        <b-alert :show="msg != ''" variant="success" dismissible @dismissed="msg == ''">{{ msg }}</b-alert>
        <template v-for="rest in restaurantes">
            <div class="col-lg-4" :key="rest.id">
                <b-card header-tag="header">
                    <div slot="header">
                        <h5 class="card-title">{{rest.nome}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{rest.endereco}}</h6>
                    </div>
                    <b-card-body>
                        <p class="card-title"><b>Tipo Refeição</b></p>
                        <p class="card-text">
                            {{rest.tipoRefeicao}}
                        </p>
                        <p class="card-title"><b>Custo:</b></p>
                        <p class="card-text"><StarComp :stars="rest.custo"/></p>
                        <b-button variant="danger" @click="remove(rest.id)">Remover</b-button>
                    </b-card-body>  
                </b-card>
            </div>
        </template>
    </div>
</template>

<script>
import restaurantResource from "@/resources/restaurantResource";
import StarComp from "@/components/StarComp.vue";

export default {
  components: {
    StarComp
  },
  data() {
    return {
      msg: "",
      restaurantes: []
    };
  },

  created() {
    this.findAll();
  },

  methods: {
    findAll() {
      restaurantResource.geral
        .get()
        .then(response => (this.restaurantes = response.body));
    },

    remove(idRestaurant) {
      restaurantResource.deleteRest
        .delete({ id: idRestaurant })
        .then(response => {
          if ("SUCESSO" == response.bodyText) {
            this.findAll();
          } else {
            this.msg = response.bodyText;
          }
        });
    }
  }
};
</script>