<template>
    <div id="rangeRestaurant">
        <span v-for="n in stars" :key="n">
            <img src="../assets/dols.png" width="20" height="20" alt="$" title="$"/> 
        </span>
    </div>
</template>
<script>
export default {
  name: "StarComp",
  props: {
    stars: Number
  }
};
</script>