<template>    
    <div id="votacao-comp" class="container-fluid" v-if="msg == ''">
        <b-alert :show="erro != ''" variant="danger" dismissible @dismissed="erro == ''">{{ erro }}</b-alert>
        <div id="layoutVotacao">
            <b-card header-tag="header">
                <div slot="header">
                    <h5 class="card-title">VOTAÇÃO</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Escolha o restaurante de sua preferência</h6>
                </div>
                <b-card-body class="text-center">
                    <b-list-group style="max-width: 300px">
                        <b-form-radio-group id="radioVotacao" v-model="votacao.restauranteId" name="radioVotacao">
                            <b-list-group-item  v-for="rest in restaurantes" :key="rest.id" class="d-flex justify-content-between align-items-center">{{rest.nome}}
                                <b-form-radio :value="rest.id"/>
                            </b-list-group-item>
                        </b-form-radio-group>
                    </b-list-group>
                </b-card-body>
                <b-button variant="danger" @click="getVoter">Votar</b-button>
            </b-card>
        </div>
        <!-- the modal -->
        <b-modal ref="myModalRef" id="myModal" title="Concluir Votação" ok-only=true ok-title="Votar" ok-variant="danger" @hidden="doVote">
            <b-form-group id="grupoName" label="Informe sua matrícula!" label-for="matricula">
                <b-form-input type="text" id="matricula" v-model="votacao.matricula" placeholder="Informe sua matrícula!"/>
            </b-form-group>
        </b-modal>
    </div>
    <div id="msgVotacao" v-else>
        <b-alert :show="msg != ''" variant="warning" dismissible @dismissed="msg == ''">{{ msg }}</b-alert>
    </div>
</template>
<script>
import restaurantResource from "@/resources/restaurantResource";
import voteResource from "@/resources/voteResource";

export default {
  data() {
    return {
      erro: "",
      msg: "",
      restaurantes: [],
      votacao: {}
    };
  },

  created() {
    this.openVote();
  },

  methods: {
    findAll() {
      restaurantResource.geral
        .get()
        .then(response => (this.restaurantes = response.body));
    },
    getVoter() {
      if (this.votacao.restauranteId) {
        this.$refs.myModalRef.show();
      } else {
        this.erro =
          "Você precisa escolher um restaurante para efetuar a votação!";
      }
    },
    doVote() {
      if (this.votacao.matricula) {
        voteResource.vote
          .save({
            restId: this.votacao.restauranteId,
            matricula: this.votacao.matricula
          })
          .then(
            sucessoResponse => {
              if (sucessoResponse.bodyText == "SUCESSO") {
                this.msg = "Seu voto registrado! Obrigado!";
              } else {
                this.msg =
                  "Não foi possível registrar seu voto, tente novamente!";
              }
            },
            erroResponse => {
              this.erro = erroResponse.body.message;
            }
          );
      } else {
        alert("Necessário informar a matrícula");
        this.$refs.myModalRef.show();
      }
    },
    openVote() {
      restaurantResource.checkVote.get().then(response => {
        if (response.body == "") {
          this.findAll();
        } else {
          this.msg = response.body.mensagem;
        }
      });
    }
  }
};
</script>
<style scope>
#votacao-comp,
#msgVotacao {
  margin-top: 20px;
}
#layoutVotacao {
  text-align: center;
  max-width: 400px;
}
</style>