<template>
    <div id="layoutVotacao">
        <b-card header-tag="header">
            <div slot="header">
                <h5 class="card-title">RESULTADO</h5>
                <h6 class="card-subtitle mb-2 text-muted">Confira o resultado para o dia <b>{{dataVotacao}}</b></h6>
            </div>
            <b-card-body class="text-center">
                <b-list-group style="max-width: 300px">
                    <b-list-group-item v-for="rest in restaurantes" :key="rest.id" class="d-flex justify-content-between align-items-center">
                        {{rest.nome}}
                        <b-badge variant="primary" pill>{{rest.votos}}</b-badge>
                    </b-list-group-item>
                </b-list-group>
            </b-card-body>                
        </b-card>
    </div>
</template>

<script>
import voteResource from "@/resources/voteResource";

export default {
  data() {
    return {
      dataVotacao: null,
      restaurantes: []
    };
  },

  created() {
    this.findVotes();
  },

  methods: {
    findVotes() {
      voteResource.listar.get().then(response => {
        this.restaurantes = response.body.restaurantes;
        this.dataVotacao = response.body.dataVotacao;
      });
    }
  }
};
</script>
<style scope>
#layoutVotacao {
  margin-top: 20px;
}
</style>