<template>
  <div id="app">
    <img src="./assets/dinner.png" width="50" height="50" alt="Restaurant Vote" title="Restaurant Vote"/>
    <div id="nav">
      <router-link to="/">Início</router-link> |
      <router-link to="/cadastro">Cadastrar</router-link> |
      <router-link to="/votar">Votar</router-link> |
      <router-link to="/resultadoVotar">Resultado</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  margin-top: 20px;
}
</style>
